In [80]:
import numpy as np

# Checking for NaNs

In [81]:
data_1 = np.loadtxt("data/Lending-company-Numeric.csv", delimiter = ",")
data_1

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [82]:
# True = 1
# False = 0
# Sum to show the count of nan values
np.isnan(data_1)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [83]:
np.isnan(data_1).sum()

0

In [84]:
data_2 = np.genfromtxt("data/Lending-Company-Numeric-Data-NAN.csv", delimiter = ";")
data_2

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [85]:
np.isnan(data_2).sum()

260

In [86]:
temporary_fill = np.nanmax(data_2).round(2) + 1
temporary_fill

64002.0

In [87]:
data_2 = np.genfromtxt("data/Lending-Company-Numeric-Data-NAN.csv", delimiter = ";", filling_values = temporary_fill)
data_2

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [64002.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [88]:
np.isnan(data_2).sum()

0

# Substituting NaNs
We chose to use mean here

In [89]:
data_2 = np.genfromtxt("data/Lending-Company-Numeric-Data-NAN.csv", delimiter = ";")
data_2

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [90]:
temporary_mean = np.nanmean(data_2, axis = 0).round(2)
temporary_mean

array([ 2250.25,    46.11,   365.  ,  3895.99,  5160.75, 16571.44])

In [91]:
data_2 = np.genfromtxt("data/Lending-Company-Numeric-Data-NAN.csv", delimiter = ";", filling_values = temporary_fill)
data_2

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [64002.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [92]:
temporary_fill

64002.0

In [93]:
data_2[:,0] = np.where(data_2[:,0] == temporary_fill, # Where this equals true
                       temporary_mean[0], # Substitute value with this
                       data_2[:,0]) # Else use this

In [94]:
# All columns
for i in range(data_2.shape[1]):
    data_2[:,i] = np.where(data_2[:,i] == temporary_fill, # Where this equals true
                       temporary_mean[i], # Substitute value with this
                       data_2[:,i]) # Else use this

In [95]:
# No more temporary fills left
np.count_nonzero(data_2 == temporary_fill)

0

# Reshaping ndarrays

In [96]:
data_1 = np.loadtxt("data/Lending-company-Numeric.csv", delimiter = ",")
data_1

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [97]:
data_1.shape

(1043, 6)

In [98]:
np.reshape(data_1, (6,1043)).shape # Transpose

(6, 1043)

In [99]:
# The number of elements must remain the same 6*1043 == 3*2086
np.reshape(data_1, (3,2086)).shape

(3, 2086)

In [100]:
np.reshape(data_1, (2,3,1043)).shape

(2, 3, 1043)

In [101]:
np.reshape(data_1, (1,1,2,3,1043)).shape

(1, 1, 2, 3, 1043)

# Removing values

In [102]:
data_1.shape

(1043, 6)

In [103]:
np.delete(data_1, 0).shape

(6257,)

In [104]:
data_1.size

6258

In [105]:
# removes first row in the matrix
np.delete(data_1, 0, axis = 0).shape

(1042, 6)

In [106]:
# removes first column in the matrix
np.delete(data_1, 0, axis = 1).shape

(1043, 5)

In [107]:
# remove columns 1,3 and 5
np.delete(data_1, (0,2,4), axis = 1).shape

(1043, 3)

In [108]:
# detele columns 1,3 and 5 and rows 1-10
np.delete(np.delete(data_1, [0,2,4], axis = 1), [0,1,2,3,4,5,6,7,8,9], axis = 0).shape

(1033, 3)

# Sorting Ndarrays

In [109]:
# default axis = -1 = 1
# Sort along columns -> each row sorted
np.sort(data_1)

array([[   40.,   365.,  2000.,  3121.,  4241., 13621.],
       [   40.,   365.,  2000.,  3061.,  4171., 15041.],
       [   40.,   365.,  1000.,  2160.,  3280., 15340.],
       ...,
       [   40.,   365.,  2000.,  4201.,  5001., 16600.],
       [   40.,   365.,  1000.,  2080.,  3320., 15600.],
       [   40.,   365.,  2000.,  4601.,  4601., 16600.]])

In [110]:
# sort along rows -> each column sorted
np.sort(data_1, axis = 0)

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [111]:
# Turn off scientific notation
np.set_printoptions(suppress = True)

In [112]:
np.sort(data_1, axis = None)

array([-2870., -2870., -2550., ..., 54625., 54625., 64001.])

In [113]:
#reverse sort add two minuses
-np.sort(-data_1, axis = None)

array([64001., 54625., 54625., ..., -2550., -2870., -2870.])

* np.sort(x) - Sorts the array and returns the new sorted array
* x.sort() - Sorts the array and stores the sorted version over the original

In [114]:
np.mean(data_1, axis = 1)

array([3898.        , 4113.        , 3697.5       , ..., 4701.16666667,
       3734.16666667, 4701.16666667])

In [115]:
np.mean(data_1, axis = 0)

array([ 2257.43048897,    46.09300096,   365.        ,  3926.73729626,
        5180.99712368, 16618.91275168])

In [116]:
data_1.shape

(1043, 6)

In [117]:
# Gives the indexes in order from smallest to largest value in a row.
# FIrst row means that the value in index 1 is smallest, value in index 2 is 2nd smallest, value in index 0 is 3rd smallest and so on...
np.argsort(data_1)

array([[1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       ...,
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5]], dtype=int64)

In [118]:
np.argsort(data_1, axis = 0)

array([[ 537,  443,    0,   32,   32,  482],
       [ 639,  327,  687,  166,  166,  493],
       [ 849,  432,  688,   85,   85,  166],
       ...,
       [  27,  326,  355,  568, 1019,  568],
       [ 277,   27,  357,  718, 1033,  534],
       [ 420,  408, 1042,  912,  912,   27]], dtype=int64)

In [119]:
# Return row, column for each value where there's a zero -> False
np.argwhere(data_1 == False)

array([[116,   4],
       [430,   3]], dtype=int64)

In [120]:
# Row, column for each value > 50000
np.argwhere(data_1 > 50000)

array([[  27,    5],
       [ 193,    5],
       [ 442,    5],
       [ 534,    5],
       [ 568,    5],
       [ 720,    5],
       [ 912,    5],
       [ 953,    5],
       [ 978,    5],
       [1019,    5],
       [1033,    5]], dtype=int64)

# Shuffling

In [121]:
data_temp = data_1[:8]
data_temp

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       [ 2000.,    50.,   365.,  3470.,  4820., 13720.],
       [ 2000.,    40.,   365.,  3201.,  4141., 14141.],
       [ 2000.,    50.,   365.,  1851.,  3251., 17701.],
       [ 2000.,    40.,   365.,  3971.,  4131., 15351.]])

In [122]:
np.random.shuffle(data_temp)
data_temp

array([[ 2000.,    40.,   365.,  3971.,  4131., 15351.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       [ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 2000.,    50.,   365.,  3470.,  4820., 13720.],
       [ 2000.,    40.,   365.,  3201.,  4141., 14141.],
       [ 2000.,    50.,   365.,  1851.,  3251., 17701.]])

# Casting

In [123]:
data_1.astype(dtype = np.int32)

array([[ 2000,    40,   365,  3971,  4131, 15351],
       [ 1000,    40,   365,  2160,  3280, 15340],
       [ 2000,    40,   365,  3121,  4241, 13621],
       ...,
       [ 2000,    40,   365,  4201,  5001, 16600],
       [ 1000,    40,   365,  2080,  3320, 15600],
       [ 2000,    40,   365,  4601,  4601, 16600]])

In [124]:
data_1 = data_1.astype(dtype = str)
data_1

array([['2000.0', '40.0', '365.0', '3971.0', '4131.0', '15351.0'],
       ['1000.0', '40.0', '365.0', '2160.0', '3280.0', '15340.0'],
       ['2000.0', '40.0', '365.0', '3121.0', '4241.0', '13621.0'],
       ...,
       ['2000.0', '40.0', '365.0', '4201.0', '5001.0', '16600.0'],
       ['1000.0', '40.0', '365.0', '2080.0', '3320.0', '15600.0'],
       ['2000.0', '40.0', '365.0', '4601.0', '4601.0', '16600.0']],
      dtype='<U32')

In [125]:
# Cant switch straight from string to int because of decimal point
# Can do astype chaining though
data_1 = data_1.astype(dtype = np.float32).astype(dtype = np.int32)
data_1

array([[ 2000,    40,   365,  3971,  4131, 15351],
       [ 1000,    40,   365,  2160,  3280, 15340],
       [ 2000,    40,   365,  3121,  4241, 13621],
       ...,
       [ 2000,    40,   365,  4201,  5001, 16600],
       [ 1000,    40,   365,  2080,  3320, 15600],
       [ 2000,    40,   365,  4601,  4601, 16600]])

# Stripping

* Removing specific parts of strings
* np.chararray.strip(data[:,0], "id_") <-- strips "id_" part from every row in first column
* Important tool in performing quantitative analysis on qualitative data -> turn into numerical

# Stacking

* Placing multiple objects on top of one another to create a bigger object
* In numpy we stack arrays
* np.stack() - Always adds a dimension
* np.vstack() - vertical stack - longer array, more rows
* np.hstack() - horizontal stack - wider array, more columns
* np.dstack() - depth stack - deeper array, more depth, adds a dimension for 1-D and 2-D

# Concatenating

* Can replicate hstack, vstack and dstack by choosing axis = [0,1,2]
* however concatenating in 1-D does not require same shape

In [126]:
data_1 = np.loadtxt("data/Lending-company-Numeric.csv", delimiter = ",")
data_1

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [127]:
np.concatenate((data_1[0,:], data_1[1,:]))

array([ 2000.,    40.,   365.,  3121.,  4241., 13621.,  2000.,    40.,
         365.,  3061.,  4171., 15041.])

# Uniques

In [128]:
# Uniques and their counts and the first index in which the value occurs.
np.unique(data_1, return_counts = True, return_index = True)

(array([-2870., -2550., -2450., ..., 52751., 54625., 64001.]),
 array([ 195,  999,  513, ..., 1163, 3209,  167], dtype=int64),
 array([2, 1, 1, ..., 1, 8, 1], dtype=int64))

In [129]:
# index 195 = 33th row, 4th column = 32*6 + 4 = 196
data_1[32]

array([ 1000.,    50.,   365., -2870., -2870.,  1160.])

In [130]:
np.unique(data_1[:,0])

array([1000., 2000., 2500., 4000., 9000.])